{{!-- Everything inside the #author tags pulls data from the author --}}
{{#primary_author}}

<section class="author-card">
    <div class="author-card__media">
        {{#if profile_image}}
            <img src="{{profile_image}}" class="avatar" alt="{{name}}" />
        {{else}}
            <span class="avatar-wrapper">{{> "icons/avatar"}}</span>
        {{/if}}
    </div>
    <div class="author-card__content">
        <h3 class="author-card__name">{{name}}</h3>
        <p class="author-card__bio">
            {{#if bio}}
                <span class="author-card__bio__text">
                    {{bio}}
                </span>
            {{/if}}
            <a href="{{url}}" class="author-card__link">
                Více o&nbsp;autorovi
            </a>
        </p>
    </div>
</section>

{{/primary_author}}
