{{#primary_author}}

    <section class="author-card">

        {{#if profile_image}}
            <div class="author-card__media">
                <a href="{{url}}" class="avatar avatar--link">
                    <img
                        src="{{img_url profile_image size="avatar_medium_2x"}}"
                        loading="lazy"
                        class="avatar__image"
                        alt="{{name}}"
                    />
                </a>
            </div>
        {{/if}}

        <div class="author-card__content">

            <h3 class="author-card__name">{{name}}</h3>

            <p class="author-card__bio">
                {{#if bio}}
                    <span class="author-card__text js-nbsp">
                        {{bio}}
                    </span>
                {{/if}}
                <span class="author-card__links">
                    <a href="{{url}}" class="author-card__link">
                        Více o&nbsp;autorovi
                    </a>
                </span>
            </p>

        </div>
    </section>

{{/primary_author}}
