<footer class="site__footer footer print-padding-none">

    {{#unless hideSubscribeForm}}
        <div class="container container--article spacing-bottom-large print-hidden">
            {{> "members/newsletter-signup-form"}}
        </div>
    {{/unless}}

    <div class="container container--narrow">

        {{#unless hideInternalLinks}}
            {{#get "tags" filter="slug:-[clanky,newsletter,slovnik]" limit="all"}}
                <h2 class="print-hidden">Všechna témata</h2>
                <ul class="footer__list list-unstyled list-inline spacing-bottom-large print-hidden">
                    {{#foreach tags}}
                        <li class="list-item-decorated">
                            <a href="{{url}}" class="text-nowrap">{{name}}</a>
                        </li>
                    {{/foreach}}
                </ul>
            {{/get}}
        {{/unless}}

        {{#unless hideInternalLinks}}
            {{navigation type="secondary" in_footer=true}}
        {{/unless}}

        {{> "social-links" in_footer=true}}

        <hr class="print-only" />

        <p class="footer__section">
            Obsah na tomto webu je publikován pod&nbsp;licencí
            <a
                href="https://creativecommons.org/licenses/by-nc/4.0/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-nowrap"
                title="Uveďte původ, neužívejte komerčně 4.0"
            >Creative Commons CC&nbsp;BY-NC&nbsp;4.0</a>.
            <br />
            <a href="{{@site.url}}" class="footer__title link-unstyled">{{@site.title}}</a>
            vysázel, zastřihuje a&nbsp;okopává (s&nbsp;♥️) Adam&nbsp;Kudrna.
            <br />
            Založeno v&nbsp;květnu 2019.
        </p>

    </div>
</footer>
