<footer class="site__footer footer print-padding-none">

    {{#unless hideSubscribeForm}}
        <div class="container container--article spacing-bottom-large print-hidden">
            {{> "members/newsletter-signup-form"}}
        </div>
    {{/unless}}

    <div class="container container--narrow">

        {{#unless hideInternalLinks}}
            {{#get "tags" filter="slug:-[dicionario,artigo]" limit="all"}}
                <h2 class="print-hidden">Todos os Temas</h2>
                <ul class="footer__list list-unstyled list-inline spacing-bottom-large print-hidden">
                    {{#foreach tags}}
                        <li class="list-item-decorated">
                            <a href="{{url}}" class="text-nowrap">{{name}}</a>
                        </li>
                    {{/foreach}}
                </ul>
            {{/get}}
        {{/unless}}

        {{#unless hideInternalLinks}}
            {{navigation type="secondary" in_footer=true}}
        {{/unless}}

        {{> "social-links" in_footer=true}}

        <hr class="print-only" />

        <p class="footer__section">
            O conteúdo deste site é publicado sob a licença
            <a
                href="https://creativecommons.org/licenses/by-nc/4.0/deed.pt-br"
                target="_blank"
                rel="noopener noreferrer"
                class="text-nowrap"
                title="Informe a origem, não use Creative Commons 4.0 comercialmente."
            >Creative Commons CC&nbsp;BY-NC&nbsp;4.0</a>.
            <br />
            <a href="{{@site.url}}" class="footer__title link-unstyled">{{@site.title}}</a>
            feito com paixão ❤️ e dedicação por <a href="https://www.adamkudrna.cz/" target="_blank" rel="noopener noreferrer" class="text-nowrap" title="Adam Kudrna ❤️">Adam Kudrna</a>.
            <br />
            Conectado ao mundo desde 2020 🚀
        </p>

    </div>
</footer> 
