<section
    id="{{slug}}"
    class="link-target"
    aria-labelledby="h__{{slug}}"
>

    <h2
        id="h__{{slug}}"
        class="text-headline-3 text-small-caps spacing-bottom-small"
    >
        {{name}}
    </h2>

    <ol class="list-unstyled">
        {{#foreach posts visibility="public"}}
            {{#has tag=../name}}
                <li>
                    <a href="{{url}}">{{title}}</a>
                </li>
            {{/has}}
        {{/foreach}}
    </ol>

</section>
