<article
    class="
        post-card
        {{post_class}}
        {{#has tag="#cover"}}cover{{/has}}
        {{#has tag="#cover-precomposed"}}
            cover--precomposed
        {{/has}}
        {{#has tag="#cover-object-light"}}
            cover--object
            cover--object--light
        {{/has}}
        {{#has tag="#cover-object-dark"}}
            cover--object
            cover--object--dark
        {{/has}}
        {{#has tag="bootstrap"}}
            cover--bootstrap
        {{/has}}
    "
>
    <div
        class="
            post-card__content
            {{#has tag="#cover"}}
                cover__text
            {{/has}}
            print-padding-none
        "
    >

        <header>
            <div class="post-card__meta">
                {{#has tag="count:>1"}}
                    {{tags from=2 to=2}}
                    —
                {{/has}}
                {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
            </div>

            {{#unless headingLevel}}
                <h2 class="post-card__title">
                    <a href="{{url}}" class="post-card__title__link link-unstyled js-nbsp">
                        {{#has tag="Slovník"}}
                            <span class="color-muted">Slovník:</span>
                        {{/has}}
                        {{title}}
                    </a>
                </h2>
            {{else}}
                <h{{headingLevel}} class="post-card__title">
                    <a href="{{url}}" class="post-card__title__link link-unstyled js-nbsp">
                        {{#has tag="Slovník"}}
                            <span class="color-muted">Slovník:</span>
                        {{/has}}
                        {{title}}
                    </a>
                </h{{headingLevel}}>
            {{/unless}}

        </header>

        <div class="post-card__summary">
            <p class="js-nbsp">{{excerpt words=33}}</p>
        </div>

        <footer>
            <ul class="list-unstyled spacing-bottom-none">
                {{#foreach authors}}
                    <li {{^if @last}}class="spacing-bottom-small"{{/if}}>

                        <div class="author-card">
                            <div class="author-card__media">
                                {{#if profile_image}}
                                    <a href="{{url}}" class="avatar avatar--small avatar--link">
                                        <img
                                            src="{{img_url profile_image size="avatar_small_2x"}}"
                                            loading="lazy"
                                            class="avatar__image"
                                            alt="{{name}}"
                                        />
                                    </a>
                                {{else}}
                                    <a href="{{url}}" class="avatar avatar--small avatar--link">
                                        <span class="avatar__image">
                                            {{> "icons/avatar-placeholder"}}
                                        </span>
                                    </a>
                                {{/if}}
                            </div>
                            <div class="author-card__content">
                                <div class="author-card__name">
                                    <a href="{{url}}" class="post-card__link link-unstyled">
                                        {{name}}
                                    </a>
                                </div>
                            </div>
                        </div>

                    </li>
                {{/foreach}}
            </ul>
        </footer>

    </div>

    {{#has tag="#cover"}}
        {{#if feature_image}}
            <figure class="cover__canvas print-hidden">
                <img
                    src="{{img_url feature_image size="xl"}}"
                    srcset="
                        {{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w
                    "
                    sizes="
                        (min-width: 1381px) calc((100vw - 2 * 2.25rem) * 2 / 3),
                        (min-width: 32em) calc(100vw - 2 * 2.25rem),
                        calc(100vw - 2 * 1.25rem)
                    "
                    loading="lazy"
                    class="cover__image"
                    alt="{{title}}"
                />
            </figure>
        {{/if}}
    {{/has}}

</article>
