<div class="columns spacing-bottom-small print-hidden">

    <h2 class="text-headline-3 text-small-caps spacing-bottom-small">
        Sdílejte
    </h2>
    <p class="text-small-block spacing-bottom-small">
        Você gostou deste artigo? Apoie compartilhando!
    </p>
    <div class="spacing-bottom">
        <a
            href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute="true"}}&via=SouRam0n"
            target="_blank"
            rel="noopener"
            class="button button--secondary button--small button--square spacing-right-1"
            data-track="share"
            data-track-method="Twitter"
            title="Compartilhar no X (Twitter)"
        >
            <span class="icon">
                {{> "icons/twitter"}}
            </span>
            <span class="visually-hidden">
                Twitter
            </span>
        </a>
        <a
            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
            target="_blank"
            rel="noopener"
            class="button button--secondary button--small button--square spacing-right-1"
            data-track="share"
            data-track-method="Facebook"
            title="Compartilhar no Facebook"
        >
            <span class="icon">
                {{> "icons/facebook"}}
            </span>
            <span class="visually-hidden">
                Facebook
            </span>
        </a>
        <a
            href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
            target="_blank"
            rel="noopener"
            class="button button--secondary button--small button--square"
            data-track="share"
            data-track-method="LinkedIn"
            title="Compartilhar no LinkedIn"
        >
            <span class="icon">
                {{> "icons/linkedin"}}
            </span>
            <span class="visually-hidden">
                LinkedIn
            </span>
        </a>
    </div>

    <h2 class="text-headline-3 text-small-caps spacing-bottom-small">
        Comente
    </h2>
    <p class="text-small-block spacing-bottom-none">
        Quer acrescentar algo ao artigo? Encontrou algum erro?
        <a
            href="mailto:ramon@ramonguilherme.com.br?subject={{encode "Artigo „"}}{{encode title}}{{encode "“"}}&body={{encode "Link para o artigo: "}}{{url absolute="true"}}"
            data-track="contact"
            data-track-category="Email"
        >Escrever um e-mail</a>.
    </p>

</div>
