<div class="container">
    <h2 class="text-headline-3 text-small-caps spacing-bottom-small">
        Compartilhar
    </h2>
    <p class="text-small-block spacing-bottom-small">
        Você gostou deste post? Apoie compartilhando!
    </p>
    <div class="spacing-bottom">
        <a
            href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute="true"}}&via=SouRam0n"
            target="_blank"
            rel="noopener"
            class="button button--secondary button--small button--square spacing-right-1"
            data-track="share"
            data-track-method="Twitter"
            title="Compartilhar no X (Twitter)"
        >
            <span class="icon">
                {{> "icons/twitter"}}
            </span>
            <span class="visually-hidden">
                Twitter
            </span>
        </a>
        <a
            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
            target="_blank"
            rel="noopener"
            class="button button--secondary button--small button--square spacing-right-1"
            data-track="share"
            data-track-method="Facebook"
            title="Compartilhar no Facebook"
        >
            <span class="icon">
                {{> "icons/facebook"}}
            </span>
            <span class="visually-hidden">
                Facebook
            </span>
        </a>
        <a
            href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
            target="_blank"
            rel="noopener"
            class="button button--secondary button--small button--square"
            data-track="share"
            data-track-method="LinkedIn"
            title="Compartilhar no LinkedIn"
        >
            <span class="icon">
                {{> "icons/linkedin"}}
            </span>
            <span class="visually-hidden">
                LinkedIn
            </span>
        </a>
    </div>
    
</div>
