<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}">
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                </a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">
                    {{@site.title}}
                </a>
            {{/if}}
        {{/is}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {{#if @site.facebook}}
                <a
                    href="{{facebook_url @site.facebook}}"
                    class="social-link social-link-fb"
                    target="_blank"
                    rel="noopener"
                    title="Facebook"
                >
                    <span class="icon">
                        {{> "icons/facebook"}}
                    </span>
                </a>
            {{/if}}
            {{#if @site.twitter}}
                <a
                    href="{{twitter_url @site.twitter}}"
                    class="social-link social-link-tw"
                    target="_blank"
                    rel="noopener"
                    title="Twitter"
                >
                    <span class="icon">
                        {{> "icons/twitter"}}
                    </span>
                </a>
            {{/if}}
        </div>
        {{#if @labs.subscribers}}
            <a href="#subscribe">Subscribe</a>
        {{else}}
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">
                <span class="icon">
                    {{> "icons/rss"}}
                </span>
            </a>
        {{/if}}
    </div>
</nav>
