<nav
    class="
        navigation
        navigation--icons
        {{#if in_footer}}
            navigation--secondary
            spacing-bottom
        {{/if}}
        print-hidden
    "
>
    <ul class="navigation__list">
        {{#if @site.twitter}}
            <li class="navigation__item">
                <a
                    href="{{twitter_url @site.twitter}}"
                    class="navigation__icon-link"
                    target="_blank"
                    rel="noopener"
                    title="{{@site.title}} na Twitteru"
                    data-track="navigate"
                    data-track-category="Outbound links"
                    data-track-label="Twitter in {{#if in_footer}}footer{{else}}header{{/if}}"
                >
                    <span class="icon">
                        {{> "icons/twitter"}}
                    </span>
                </a>
            </li>
        {{/if}}
        {{#if @site.facebook}}
            <li class="navigation__item">
                <a
                    href="{{facebook_url @site.facebook}}"
                    class="navigation__icon-link"
                    target="_blank"
                    rel="noopener"
                    title="{{@site.title}} na Facebooku"
                    data-track="navigate"
                    data-track-category="Outbound links"
                    data-track-label="Facebook in {{#if in_footer}}footer{{else}}header{{/if}}"
                >
                    <span class="icon">
                        {{> "icons/facebook"}}
                    </span>
                </a>
            </li>
        {{/if}}
        <li class="navigation__item">
            <a
                href="https://www.instagram.com/frontendgarden/"
                class="navigation__icon-link"
                target="_blank"
                rel="noopener"
                title="{{@site.title}} na Instagramu"
                data-track="navigate"
                data-track-category="Outbound links"
                data-track-label="Instagram in {{#if in_footer}}footer{{else}}header{{/if}}"
            >
                <span class="icon">
                    {{> "icons/instagram"}}
                </span>
            </a>
        </li>
        <li class="navigation__item">
            <a
                href="https://github.com/frontend-garden"
                class="navigation__icon-link"
                target="_blank"
                rel="noopener"
                title="{{@site.title}} na GitHubu"
                data-track="navigate"
                data-track-category="Outbound links"
                data-track-label="GitHub in {{#if in_footer}}footer{{else}}header{{/if}}"
            >
                <span class="icon">
                    {{> "icons/github"}}
                </span>
            </a>
        </li>
    </ul>
</nav>
