{{!< default}}

{{#author}}
    <main class="site__content background-alternate">
        <section class="section section--only-top print-padding-none">
            <div class="container">

                <div
                    class="
                        article
                        {{#has slug="adam-kudrna"}}
                            spacing-bottom
                        {{/has}}
                    "
                >

                    <div class="article__meta">
                        <span class="spacing-right-1">
                            Autor
                        </span>
                        {{> "staff-label"}}
                    </div>

                    <h1 class="article__title spacing-bottom">{{name}}</h1>

                    <div class="media">

                        {{#if profile_image}}
                            <div>
                                <div class="avatar">
                                    <img
                                        src="{{img_url profile_image size="avatar_medium_2x"}}"
                                        loading="lazy"
                                        class="avatar__image"
                                        alt="{{name}}"
                                    />
                                </div>
                            </div>
                        {{/if}}

                        {{#if bio}}
                            <div class="author-card">
                                <div class="author-card__bio">
                                    <p class="author-card__text spacing-bottom-small js-nbsp js-external-links">
                                        {{bio}}
                                    </p>
                                    <div class="author-card__links">
                                        {{#if location}}
                                            <span class="spacing-right-2">
                                                {{location}}
                                            </span>
                                        {{/if}}
                                        {{#if website}}
                                            <a
                                                href="{{website}}"
                                                target="_blank"
                                                rel="noopener"
                                                class="button button--secondary button--small button--square spacing-right-1"
                                                title="Web autora"
                                            >
                                                <span class="icon">
                                                    {{> "icons/website"}}
                                                </span>
                                                <span class="visually-hidden">
                                                    Web
                                                </span>
                                            </a>
                                        {{/if}}
                                        {{#if twitter}}
                                            <a
                                                href="{{twitter_url}}"
                                                target="_blank"
                                                rel="noopener"
                                                class="button button--secondary button--small button--square spacing-right-1"
                                                title="X (Twitter) autora"
                                            >
                                                <span class="icon">
                                                    {{> "icons/twitter"}}
                                                </span>
                                                <span class="visually-hidden">
                                                    X (Twitter)
                                                </span>
                                            </a>
                                        {{/if}}
                                        {{#if facebook}}
                                            <a
                                                href="{{facebook_url}}"
                                                target="_blank"
                                                rel="noopener"
                                                class="button button--secondary button--small button--square spacing-right-1"
                                                title="Facebook autora"
                                            >
                                                <span class="icon">
                                                    {{> "icons/facebook"}}
                                                </span>
                                                <span class="visually-hidden">
                                                    Facebook
                                                </span>
                                            </a>
                                        {{/if}}
                                        <a
                                            href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/"
                                            target="_blank"
                                            rel="noopener"
                                            class="button button--secondary button--small button--square"
                                            title="RSS feed s články autora"
                                        >
                                            <span class="icon">
                                                {{> "icons/rss"}}
                                            </span>
                                            <span class="visually-hidden">
                                                RSS
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {{/if}}

                    </div>
                </div>

                {{#has slug="adam-kudrna"}}
                    <a
                        href="https://www.adamkudrna.cz/o-mne#kontakt"
                        class="button button--primary spacing-bottom-small spacing-right-1"
                        data-track="Navigate"
                        data-track-category="Personal website"
                        data-track-label="Author's page – primary CTA"
                    >
                        Objednat konzultaci
                    </a>
                    <a
                        href="https://www.adamkudrna.cz/sluzby"
                        class="button button--secondary spacing-bottom-small"
                        data-track="Navigate"
                        data-track-category="Personal website"
                        data-track-label="Author's page – secondary CTA"
                    >
                        Prohlédnout všechny služby
                    </a>
                {{/has}}

            </div>
        </section>

        <section class="section">
            <div class="container">

                <h2>Články</h2>

            </div>
            <div class="container container--dense">

                <div class="post-feed">
                    {{#foreach ../posts}}
                        {{#has tag="Články"}}
                            <div class="post-feed__item">
                                {{> "post-card" headingLevel=3}}
                            </div>
                        {{/has}}
                    {{/foreach}}
                </div>

            </div>
        </section>

        {{#has slug="adam-kudrna"}}
            {{> "bottom-ad"}}
        {{/has}}

    </main>
{{/author}}

{{> "footer"}}
