{{!< default}}

<main class="site__content">

    {{#post}}
        <article class="article">

            <header class="section background-alternate">
                <div class="container container--article">

                    <div class="article__meta">
                        {{tags}}
                    </div>

                    <h1 class="article__title js-nbsp">{{title}}</h1>
                    <h2 class="article__summary js-nbsp">{{custom_excerpt}}</h2>

                </div>
            </header>

            <div class="section section--roomy-bottom">
                <div class="container container--article">

                    <div class="editor js-nbsp js-external-links js-heading-anchors">
                        {{content}}
                    </div>

                    <hr />

                    <div class="table-container">
                        <div class="table-column">
                            <h3>Características do Projeto</h3>
                            <table>
                                <tbody>
                                    {{#if custom_excerpt}}
                                        <p>{{custom_excerpt}}</p>
                                    {{else}}
                                        <p>{{excerpt words="30"}}</p>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-column">
                            <h3>Tecnologia Usada</h3>
                            <table>
                                <tbody>
                                    {{#foreach tags}}
                                    <tr>
                                        {{#if @last}}
                                        <td><a href="{{url}}" class="label">{{name}}</a></td>
                                        {{/if}}
                                    </tr>
                                    {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-column">
                            <h3>Link do Projeto</h3>
                            <table>
                                <tbody>
                                    {{#foreach tags}}
                                    <tr>
                                        {{#if @first}}
                                        <td><a href="https://{{name}}" class="visit-website-link">{{name}}</a></td>
                                        {{/if}}
                                    </tr>
                                    {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr />

                    <p class="text-small-block text-italic">
                        Última atualização:
                        <time datetime="{{date format="DD-MM-YYYY"}}">
                            {{date format="DD/MM/YYYY HH:mm"}}
                        </time>
                    </p>

                    <hr class="print-hidden" />

                    {{> "share-and-comment"}}

                </div>
            </div>

        </article>

        {{^has tag="#no-bottom-ad"}}
            {{> "bottom-ad"}}
        {{/has}}

    {{/post}}

    {{#get "posts"
        filter="primary_tag:projetos+tags:[{{post.tags}}]"
        include="authors,tags"
        order="published_at DESC"
        limit="3"
        as |related|
    }}
        {{#if related}}
            {{> "related-posts"
                posts=related
                headline="Artigos relacionados"
            }}
        {{/if}}
    {{/get}}

</main>

{{> "footer"}}

{{#contentFor "styles"}}
    {{> "external/prism-css"}}
{{/contentFor}}

{{#contentFor "scripts"}}
    {{> "external/prism-js"}}
{{/contentFor}}

{{#contentFor "snippets"}}
    <template id="snippet__newsletter-signup__template">
        {{> "snippets/newsletter-signup"}}
    </template>
    <template id="snippet__post-box-ad__template">
        {{> "snippets/post-box-ad"}}
    </template>
    <template id="snippet__post-breakout-ad__template">
        {{> "snippets/post-breakout-ad"}}
    </template>
{{/contentFor}}
