{{!< default}}

<main class="site__content">

    <div class="hero is-home flex" data-cover-image="true" data-style="image-background">

        <div class="hero__content flex flex-col">
            <h1 class="hero__title">Conte suas histórias da maneira mais envolvente e visual possível.</h1>
            <p id="hero-input-label" class="hero__description">
                De visuais convincentes a navegação intuitiva, esta ferramenta de narrativa imersiva garante que sua história seja apresentada da maneira mais envolvente e visualmente impressionante possível.
            </p>
            
            <form class="subscribe-form" data-members-form="signup" data-style="inline">
                <input data-members-email="" class="" type="email" autocomplete="email" placeholder="Seu endereço de email" aria-labelledby="hero-input-label" required=""> 
                <button class="btn btn--brand" type="submit" aria-label="Submit">    
                        <span>Inscrever-se</span>
                </button>
                <span class="msg-success">Ótimo! Verifique sua caixa de entrada e clique no link.</span>
                <span class="msg-error">Desculpe, algo deu errado. Por favor, tente novamente.</span>
            </form>  
        </div>

        <figure class="hero__media">
            <picture class="">
                <source sizes="1080px" srcset="https://saaga.brightthemes.com/content/images/size/w2000/format/webp/2023/08/galaxy-2-5.jpeg 300w, /content/images/size/w600/format/webp/2023/08/galaxy-2-5.jpeg 600w, https://saaga.brightthemes.com/content/images/size/w2000/format/webp/2023/08/galaxy-2-5.jpeg 1000w, /content/images/size/w2000/format/webp/2023/08/galaxy-2-5.jpeg 2000w" type="image/webp">
                <img class="hero__img" sizes="1080px" data-srcset="https://saaga.brightthemes.com/content/images/size/w2000/format/webp/2023/08/galaxy-2-5.jpeg 300w, https://saaga.brightthemes.com/content/images/size/w2000/format/webp/2023/08/galaxy-2-5.jpeg 600w, /content/images/size/w1000/2023/08/galaxy-2-5.jpeg 1000w, /content/images/size/w2000/2023/08/galaxy-2-5.jpeg 2000w" srcset="/content/images/size/w30/2023/08/galaxy-2-5.jpeg 30w" data-src="/content/images/size/w100/2023/08/galaxy-2-5.jpeg" src="/content/images/size/w30/2023/08/galaxy-2-5.jpeg" alt="" loading="eager">
            </picture>    
        </figure>

        <i class="icon icon-scroll hero__scroll">
            <svg width="40px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:inherit;stroke-width:20px;"></path>
                <path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:inherit;stroke-width:20px;"></path>
            </svg>
        </i>
    </div>

    {{#post}}
        <article class="article">

            <header class="section background-alternate">
                <div class="container container--article">

                    <div class="article__meta">
                        {{tags}}
                    </div>

                    <h1 class="article__title js-nbsp">{{title}}</h1>
                    <h2 class="article__summary js-nbsp">{{custom_excerpt}}</h2>

                </div>
            </header>

            <div class="section section--roomy-bottom">
                <div class="container container--article">

                    <div class="editor js-nbsp js-external-links js-heading-anchors">
                        {{content}}
                    </div>

                    <hr />

                    <div class="table-container">
                        <div class="table-column">
                            <h3 class="table-title">Características do Projeto</h3>
                            <table class="table">
                                <tbody>
                                    {{#if custom_excerpt}}
                                        <p>{{custom_excerpt}}</p>
                                    {{else}}
                                        <p>{{excerpt words="30"}}</p>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-column">
                            <h3>Tecnologia Usada</h3>
                            <table>
                                <tbody>
                                    {{#foreach tags}}
                                    <tr>
                                        {{#if @last}}
                                        <td><a href="{{url}}" class="label">{{name}}</a></td>
                                        {{/if}}
                                    </tr>
                                    {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-column">
                            <h3>Link do Projeto</h3>
                            <table>
                                <tbody>
                                    {{#foreach tags}}
                                    <tr>
                                        {{#if @first}}
                                        <td><a href="https://{{name}}" class="visit-website-link">{{name}}</a></td>
                                        {{/if}}
                                    </tr>
                                    {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr />

                    <p class="text-small-block text-italic">
                        Última atualização:
                        <time datetime="{{date format="DD-MM-YYYY"}}">
                            {{date format="DD/MM/YYYY HH:mm"}}
                        </time>
                    </p>

                    <hr class="print-hidden" />

                    {{> "share-and-comment"}}

                </div>
            </div>

        </article>

        {{^has tag="#no-bottom-ad"}}
            {{> "bottom-ad"}}
        {{/has}}

    {{/post}}

    {{#get "posts"
        filter="primary_tag:projetos+tags:[{{post.tags}}]"
        include="authors,tags"
        order="published_at DESC"
        limit="3"
        as |related|
    }}
        {{#if related}}
            {{> "related-posts"
                posts=related
                headline="Artigos relacionados"
            }}
        {{/if}}
    {{/get}}

</main>

{{> "footer"}}

{{#contentFor "styles"}}
    {{> "external/prism-css"}}
{{/contentFor}}

{{#contentFor "scripts"}}
    {{> "external/prism-js"}}
{{/contentFor}}

{{#contentFor "snippets"}}
    <template id="snippet__newsletter-signup__template">
        {{> "snippets/newsletter-signup"}}
    </template>
    <template id="snippet__post-box-ad__template">
        {{> "snippets/post-box-ad"}}
    </template>
    <template id="snippet__post-breakout-ad__template">
        {{> "snippets/post-breakout-ad"}}
    </template>
{{/contentFor}}
