<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>

    {{ghost_head}}

    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.min.css"}}" />
</head>
<body class="site">

<header class="header site__header">
    <div class="container">
        <div class="header__layout">

            <a href="{{@site.url}}" class="header__title">
                {{#if @site.logo}}
                    <img
                        src="{{img_url @site.logo size="l"}}"
                        class="header__logo"
                        alt="{{@site.title}}"
                    />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>

            {{! Since we are unable to detect if there is shomething to show in Handlebars, comment
                the following block entirely to hide it until we need it. }}
            {{!--
            <div class="header__navigation">
                {{> "site-nav"}}
            </div>
            --}}

        </div>
    </div>
</header>

{{{body}}}

<footer class="footer site__footer">
    <div class="container">

        <p>
            <small>
                → <strong class="footer__title">Frontend Garden</strong>
                zasil, zastřihuje a&nbsp;okopává (s ❤️) Adam&nbsp;Kudrna.
            </small>
        </p>

    </div>
</footer>

{{ghost_foot}}

</body>
</html>
