<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <title>
        {{#is "home"}}
            {{@site.title}} — {{@site.description}}
        {{/is}}
        {{#is "author"}}
            {{! Obtain author name from the author template to bypass the following Gscan error: }}
            {{! Error: The \{\{#author\}\} block helper should be replaced with \{\{#primary_author\}\} or \{\{#foreach authors\}\}...\{\{/foreach\}\} }}
            {{! https://github.com/TryGhost/gscan/issues/365 }}
            {{{block "title"}}}{{#is "paged"}} {{t "(Page {page})" page=pagination.page}}{{/is}} | {{@site.title}}
        {{/is}}
        {{#is "tag"}}
            {{tag.name}}{{#is "paged"}} {{t "(Page {page})" page=pagination.page}}{{/is}} | {{@site.title}}
        {{/is}}
        {{^is "home, author, tag"}}
            {{meta_title page=(t " (Page %)")}} | {{@site.title}}
        {{/is}}
    </title>

    {{> "external/google-analytics"}}
    {{> "external/cookie-consent"}}

    {{{block "styles"}}}

    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.min.css"}}" class="js-versioned-asset" />
    <link rel="stylesheet" type="text/css" href="https://cdn.ramonguilherme.com.br/cookie-consent/kwm0ygm.css" />

    <link rel="manifest" href="{{@site.url}}/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="{{asset "icons/apple-touch-icon.png"}}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="{{@site.title}}" />
    <meta name="application-name" content="{{@site.title}}" />
    <meta name="theme-color" content="#e63f66" />

    {{ghost_head}}

    <meta name="twitter:dnt" content="on" />
</head>
<body class="site">

<div class="site__notifications print-hidden">
    {{> "members/notifications"}}
</div>

{{> "header"}}

{{{body}}}

{{{block "snippets"}}}

<script src="{{asset "js/main.js"}}"></script>
<script src="{{asset "js/register-sw.js"}}"></script>
<script src="{{asset "js/cache-page-assets.js"}}"></script>
<script src="{{asset "js/members.js"}}"></script>

{{{block "scripts"}}}

{{ghost_foot}}

</body>
</html>
