<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8" />

    <link rel="preload" href="{{asset "built/css/main.min.css"}}" as="style" />
    <link rel="preload" href="https://use.typekit.net/kwm0ygm.css" as="style" />

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>

    {{ghost_head}}

    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="https://use.typekit.net/kwm0ygm.css" />
</head>
<body class="site">

<header class="header site__header">
    <div class="container container--fluid">
        <div class="header__layout">

            <a href="{{@site.url}}" class="header__logotype">
                {{#if @site.logo}}
                    <img
                        src="{{img_url @site.logo size="xs"}}"
                        class="header__logo"
                        alt="{{@site.title}}"
                    />
                {{/if}}
                <span class="header__title">
                    {{@site.title}}
                </span>
            </a>

            <div class="header__navigation">
                {{> "site-nav"}}
            </div>

        </div>
    </div>
</header>

{{{body}}}

<footer class="footer site__footer">
    <div class="container">

        <p class="footer__section">
            <a href="/" class="footer__title link-unstyled">Frontend Garden</a>
            vysázel, zastřihuje a&nbsp;okopává (s&nbsp;♥️) Adam&nbsp;Kudrna.
            Založeno 2019.
        </p>
        <p class="footer__section">
            ✏️ <a href="/napiste-clanek">Napište článek</a>
        </p>

    </div>
</footer>

<script>
    // Insert non-breaking space after single-character words.
    const elementsToReplace = document.querySelectorAll('.js-nbsp');

    if (elementsToReplace.length) {
        elementsToReplace.forEach((element) => {
            element.innerHTML = element.innerHTML.replace(/ ([a-z]) /gi, ' $1&nbsp;');
        });
    }

    // Safely open external links in a new tab.
    const externalLinks = document.querySelectorAll('.js-external-links a[href^=http]');

    if (externalLinks.length) {
        externalLinks.forEach((element) => {
            element.setAttribute('target', '_blank');
            element.setAttribute('rel', 'noopener noreferrer');
        });
    }
</script>

{{ghost_foot}}

</body>
</html>
