<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://use.typekit.net" crossorigin="anonymous" />
    <link rel="preconnect" href="https://p.typekit.net" crossorigin="anonymous" />
    <link rel="dns-prefetch" href="https://www.gravatar.com" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>
        {{#is "home"}}
            {{@site.title}} — {{@site.description}}
        {{/is}}
        {{!--
          Commented out until gscan error is fixed.
          https://github.com/TryGhost/gscan/issues/365
        --}}
        {{!--#is "author"--}}
            {{!--author.name}} | {{@site.title--}}
        {{!--/is--}}
        {{#is "tag"}}
            {{tag.name}} | {{@site.title}}
        {{else}}
            {{meta_title}} | {{@site.title}}
        {{/is}}
    </title>

    {{{block "styles"}}}

    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.min.css"}}" class="js-versioned-asset" />
    <link rel="stylesheet" type="text/css" href="https://use.typekit.net/kwm0ygm.css" />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="{{asset "icons/apple-touch-icon.png"}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{@site.title}}">
    <meta name="application-name" content="{{@site.title}}">
    <meta name="theme-color" content="#40bf4f"/>

    {{ghost_head}}

    <meta property="fb:admins" content="10212662066139495" />
</head>
<body class="site">

<div class="site__notifications">
    {{> "members/notifications"}}
</div>

{{> "header"}}

{{{body}}}

{{{block "snippets"}}}

<script src="{{asset "js/main.js"}}"></script>
<script src="{{asset "js/register-sw.js"}}"></script>
<script src="{{asset "js/cache-page-assets.js"}}"></script>

<script src="{{asset "js/members.js"}}"></script>

{{{block "scripts"}}}

{{ghost_foot}}

</body>
</html>
