<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-okaidia.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="https://use.typekit.net/kwm0ygm.css" />

    {{ghost_head}}

    <meta property="fb:admins" content="10212662066139495" />
</head>
<body class="site">

<header class="header site__header">
    <div class="container container--fluid">
        <div class="header__layout">

            <a href="{{@site.url}}" class="header__logotype">
                {{#if @site.logo}}
                    <img
                        src="{{img_url @site.logo size="xs"}}"
                        class="header__logo"
                        alt="{{@site.title}}"
                    />
                {{/if}}
                <span class="header__title">
                    {{@site.title}}
                </span>
            </a>

            <div class="header__navigation">
                {{> "site-nav"}}
            </div>

        </div>
    </div>
</header>

{{{body}}}

<footer class="footer site__footer">
    <div class="container">

        <p class="footer__section">
            <a href="/" class="footer__title link-unstyled">Frontend Garden</a>
            vysázel, zastřihuje a&nbsp;okopává (s&nbsp;♥️) Adam&nbsp;Kudrna.
            Založeno 2019.
        </p>
        <p class="footer__section">
            ✏️ <a href="/napiste-clanek">Napište článek</a>
        </p>

    </div>
</footer>

<script src="{{asset "js/main.js"}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>

{{ghost_foot}}

</body>
</html>
