{{!< default}}

<header>
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @site.logo}}
                    <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@site.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

<main>
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>

    </div>
</main>
