{{!< default}}

<main class="site__content article">
    <div class="section background-alternate print-padding-none">
        <div class="container">

            {{#tag}}
                <h1 class="article__title js-nbsp">{{name}}</h1>

                {{#if description}}
                    <p class="article__summary spacing-bottom-small js-nbsp">
                        {{description}}
                    </p>
                {{/if}}

                <ul class="list-unstyled list-inline spacing-bottom-none print-hidden">
                    <li>
                        <a href="#tecnologias" class="label">Tecnologias</a>
                    </li>
                    <li>
                        <a href="#frameworks" class="label">Frameworks</a>
                    </li>
                    <li>
                        <a href="#ferramentas" class="label">Ferramentas</a>
                    </li>
                    <li>
                        <a href="#testes" class="label">Testes</a>
                    </li>
                    <li>
                        <a href="#no-code" class="label">No-Code</a>
                    </li>
                    <li>
                        <a href="#design-grafico" class="label">Design Gráfico</a>
                    </li>
                </ul>
            {{/tag}}

        </div>
    </div>
    <div class="section section--roomy-bottom print-padding-none">
        <div class="container">
            <div class="columns columns--4">

                {{!
                    Loop through the original `posts` and group them.
                    Pagination of `posts` is made impossible in `routes.yaml`.
                }}
                {{#get "posts"
                    filter="tag:projetos"
                    include="authors,tags"
                    order="published_at ASC"
                    limit="4"
                    as |projects|
                }}
                    {{#each projects}}
                        <div class="project-info" data-url="{{url}}">
                            <h2>{{title}}</h2>
                            <ul class="list-unstyled list-inline spacing-bottom-none print-hidden">
                                {{#foreach tags}}
                                    {{#if @last}}
                                        <li><a href="{{url}}" class="label">{{name}}</a></li>
                                    {{/if}}
                                {{/foreach}}
                            </ul>
                            {{#if custom_excerpt}}
                                <p>{{custom_excerpt}}</p>
                            {{else}}
                                <p>{{excerpt words="30"}}</p>
                            {{/if}}
                                {{#foreach tags}}
                                    {{#if (is "2" @index)}} <!-- Verifica se é a terceira tag (0-indexed) -->
                                            <a href="https://{{name}}" class="visit-website-link">Visit Website</a>
                                        {{/if}}
                                    {{/if}}
                                {{/foreach}}
                        </div>
                    {{/each}}
                {{/get}}

            </div>
        </div>
    </div>

    {{#get "posts"
        filter="primary_tag:artigo"
        include="authors,tags"
        order="published_at DESC"
        limit="3"
        as |recent|
    }}
        {{#if recent}}
            {{> "related-posts" posts=recent}}
        {{/if}}
    {{/get}}

</main>

{{> "footer"}}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const projectInfos = document.querySelectorAll('.project-info');
        projectInfos.forEach(function(projectInfo) {
            projectInfo.addEventListener('click', function() {
                const url = projectInfo.getAttribute('data-url');
                if (url) {
                    window.location.href = url;
                }
            });
        });
    });
</script>

<style>
    .project-info {
        cursor: pointer;
    }
</style>
