{{#get "posts"
    filter="tag:projetos"
    include="authors,tags"
    order="published_at ASC"
    limit="4"
    as |projects|
}}
    {{#if projects.length}}
        {{#each projects}}
            <div class="project-info" data-url="{{url}}">
                <h2>{{title}}</h2>
                <ul class="list-unstyled list-inline spacing-bottom-none print-hidden">
                    {{#foreach tags}}
                        {{#if @last}}
                            <li><a href="{{url}}" class="label">{{name}}</a></li>
                        {{/if}}
                    {{/foreach}}
                </ul>
                {{#if custom_excerpt}}
                    <p>{{custom_excerpt}}</p>
                {{else}}
                    <p>{{excerpt words="30"}}</p>
                {{/if}}
                {{#foreach tags}}
                    {{#if @first}}
                        <a href="https://{{name}}" class="visit-website-link">Visitar Website</a>
                    {{/if}}
                {{/foreach}}
            </div>
        {{/each}}
    {{else}}
        {{#unless projectsFound}}
            <p class="no-projects-message">Não há projetos disponíveis.2</p>
        {{/unless}}
    {{/if}}
{{/get}}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // ...

        // Função para filtrar os projetos
        function filterProjects(tag) {
            const projectInfos = document.querySelectorAll('.project-info');
            let projectsFound = false;
            projectInfos.forEach(function(projectInfo) {
                // ...
            });
            if (!projectsFound) {
                const noProjectsMessage = document.querySelector('.no-projects-message');
                if (!noProjectsMessage) {
                    const newNoProjectsMessage = document.createElement('p');
                    newNoProjectsMessage.textContent = 'Não há projetos disponíveis.2';
                    newNoProjectsMessage.classList.add('no-projects-message');
                    document.querySelector('.columns').appendChild(newNoProjectsMessage);
                }
            }
        }
    });
</script>
