{{!< default}}

{{#post}}
    <main class="site__content">
        <article class="article">

            <header class="section section--dense background-alternate">
                <div class="container container--article">

                    <section class="article__meta">
                        <time class="article__meta__date" datetime="{{date format="YYYY-MM-DD"}}">
                            {{date format="D. MMMM YYYY"}}
                        </time>
                        —
                        {{#if primary_tag}}
                            <a href="{{primary_tag.url}}" class="article__meta__link">{{primary_tag.name}}</a>
                            —
                        {{/if}}
                        {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
                    </section>

                    <h1 class="article__title js-nbsp">{{title}}</h1>
                    <h2 class="article__summary js-nbsp">{{excerpt}}</h2>

                    <div class="article__author">
                        {{#has author="count:>1"}}
                            {{> "byline-multiple"}}
                        {{else}}
                            {{> "byline-single"}}
                        {{/has}}
                    </div>

                    {{!-- We don't need cover images yet. --}}
                    {{!--
                    {{#if feature_image}}
                        <figure class="article__featured-image">
                            <img
                                src="{{img_url feature_image size="xl"}}"
                                srcset="
                                    {{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 600w,
                                    {{img_url feature_image size="l"}} 1000w,
                                    {{img_url feature_image size="xl"}} 2000w
                                "
                                sizes="
                                    (max-width: 800px) 400px,
                                    (max-width: 1170px) 700px,
                                    1400px
                                "
                                class="article__featured-image__image"
                                alt="{{title}}"
                            />
                        </figure>
                    {{/if}}
                    --}}

                </div>
            </header>
            <section class="section section--dense">
                <div class="container container--article">

                    <div class="editor js-nbsp js-external-links">
                        {{content}}
                    </div>

                    <hr />

                    <div class="share">
                        <span class="icon icon--in-text spacing-right-1">
                            {{> "icons/twitter"}}
                        </span>
                        <span class="icon icon--in-text spacing-right-2">
                            {{> "icons/facebook"}}
                        </span>
                        Líbí se vám článek? Sdílejte ho na
                        <a
                            href="https://twitter.com/intent/tweet?text={{title}}&url={{url absolute="true"}}&via=FrontendGarden"
                            target="_blank"
                            rel="noopener"
                            data-track="share"
                            data-method="Twitter"
                        >Twitteru</a>
                        nebo
                        <a
                            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
                            target="_blank"
                            rel="noopener"
                            data-track="share"
                            data-method="Facebook"
                        >Facebooku</a>.
                    </div>

                </div>
            </section>
            <section class="section section--dense">
                <div class="container container--article">

                    <h2>
                        Komentáře
                        <span class="badge">
                            <span class="fb-comments-count" data-href="{{url absolute="true"}}">0</span>
                        </span>
                    </h2>
                    <div class="comments">
                        <div class="fb-comments" data-href="{{url absolute="true"}}" data-numposts="5"></div>
                    </div>

                </div>
            </section>

            {{!-- {{#if @labs.subscribers}}
                <section class="subscribe-form">
                    <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
                    <p>Get the latest posts delivered right to your inbox</p>
                    {{subscribe_form placeholder="youremail@example.com"}}
                </section>
            {{/if}} --}}

        </article>

        <aside class="section background-alternate">
            <div class="container container--narrow">

                {{!-- Tag feed is currently not needed. --}}
                {{!--
                <div class="read-next-feed">
                    {{#if primary_tag}}
                        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit="3" as |related_posts|}}
                            {{#if related_posts}}
                                <article class="read-next-card"
                                    {{#if ../primary_tag.feature_image}}
                                         style="background-image: url({{img_url ../primary_tag.feature_image size="m"}})"
                                    {{else}}
                                        {{#if @site.cover_image}}
                                         style="background-image: url({{img_url @site.cover_image size="m"}})"{{/if}}
                                    {{/if}}
                                >
                                    <header class="read-next-card-header">
                                        <small class="read-next-card-header-sitetitle">&mdash; {{@site.title}} &mdash;</small>
                                        {{#../primary_tag}}
                                            <h3 class="read-next-card-header-title"><a href="{{url}}">{{name}}</a></h3>
                                        {{/../primary_tag}}
                                    </header>
                                    <div class="read-next-divider">{{> "icons/infinity"}}</div>
                                    <div class="read-next-card-content">
                                        <ul>
                                            {{#foreach related_posts}}
                                                <li><a href="{{url}}">{{title}}</a></li>
                                            {{/foreach}}
                                        </ul>
                                    </div>
                                    <footer class="read-next-card-footer">
                                        <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}} →</a>
                                    </footer>
                                </article>
                            {{/if}}
                        {{/get}}
                    {{/if}}
                </div>
                --}}

                <div class="post-feed">
                    {{#next_post}}
                        {{> "post-card"}}
                    {{/next_post}}
                    {{#prev_post}}
                        {{> "post-card"}}
                    {{/prev_post}}
                </div>

            </div>
        </aside>
    </main>
{{/post}}

{{!-- Facebook SDK for comments --}}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v3.3"></script>
