{{!< default}}

<main class="site__content">

    {{#post}}
        <article class="article {{#has tag="#cover"}}article--cover{{/has}}">

            <header
                class="
                    section
                    section--roomy-bottom
                    {{#has tag="#cover"}}
                        background-dark
                        cover
                        cover--full-page
                        {{#has tag="#cover-precomposed"}}
                            cover--precomposed
                        {{/has}}
                        {{#has tag="#cover-object-light"}}
                            cover--object
                            cover--object--light
                        {{/has}}
                        {{#has tag="#cover-object-medium"}}
                            cover--object
                            cover--object--medium
                        {{/has}}                
                        {{#has tag="#cover-object-dark"}}
                            cover--object
                            cover--object--dark
                        {{/has}}
                        {{#has tag="bootstrap"}}
                            cover--bootstrap
                        {{/has}}
                    {{else}}
                        background-alternate
                    {{/has}}
                    print-padding-none
                "
            >
                <div class="{{#has tag="#cover"}}cover__text{{/has}}">
                    <div class="container {{^has tag="#cover"}}container--article{{/has}}">

                        <div class="article__meta">
                            <time datetime="{{date format="DD-MM-YYYY"}}">
                                {{date format="DD MMMM YYYY"}}
                            </time>
                            —
                            {{tags from=2}}
                            —
                            {{reading_time minute=(t "1 min de leitura") minutes=(t "% min de leitura")}}
                        </div>

                        <h1 class="article__title js-nbsp">{{title}}</h1>
                        <h2 class="article__summary js-nbsp">{{excerpt}}</h2>

                        <div class="article__author">
                            {{#has author="count:>1"}}
                                {{> "byline-multiple"}}
                            {{else}}
                                {{> "byline-single"}}
                            {{/has}}
                        </div>

                    </div>
                </div>

                {{#has tag="#cover"}}
                    {{#if feature_image}}
                        <figure class="cover__canvas print-hidden">
                            <img
                                src="{{img_url feature_image size="xl"}}"
                                srcset="
                                    {{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 600w,
                                    {{img_url feature_image size="l"}} 1000w,
                                    {{img_url feature_image size="xl"}} 2000w,
                                    {{img_url feature_image size="xxl"}} 4000w
                                "
                                sizes="100vw"
                                class="cover__image"
                                alt="{{title}}"
                            />
                        </figure>
                    {{/if}}
                {{/has}}

            </header>

            <div class="section section--roomy-bottom">
                <div class="container container--article">

                    <div class="editor editor--long-text js-nbsp js-external-links js-heading-anchors">
                        {{content}}
                    </div>

                    <hr class="print-hidden" />

                    <hr class="print-hidden" />

                    <hr class="print-hidden" />

                    <div class="article__author spacing-bottom print-hidden">
                        {{#has author="count:>1"}}
                            {{> "byline-multiple"}}
                        {{else}}
                            {{> "byline-single"}}
                        {{/has}}
                    </div>

                    {{#get "posts"
                        filter="author:{{primary_author.slug}}+primary_tag:[artigo,dicionario]+id:-{{id}}"
                        include="tags"
                        order="published_at DESC"
                        limit="3"
                        as |more_posts_by_author|
                    }}
                        {{#if more_posts_by_author}}
                            <div class="print-hidden">
                                <h4>Mais:</h4>
                                <ul class="js-nbsp">
                                    {{#foreach more_posts_by_author visibility="public"}}
                                        <li>
                                            {{#has tag="Dicionário"}}
                                                <a href="/dicionario" class="link-unstyled color-muted">Slovník</a>
                                                <span class="color-muted">/</span>
                                            {{/has}}
                                            <a href="{{url}}">{{title}}</a>
                                        </li>
                                    {{/foreach}}
                                </ul>
                            </div>
                        {{/if}}
                    {{/get}}

                    {{#if tags}}
                        <div class="list-inline print-hidden">
                            <span class="text-small-block text-italic color-muted">Tags:</span>
                            <nav>
                                <ul class="list-unstyled list-inline spacing-bottom-none">
                                    {{#foreach tags from=2}}
                                        <li>
                                            <a href="{{url}}" class="label">{{name}}</a>
                                        </li>
                                    {{/foreach}}
                                </ul>
                            </nav>
                        </div>
                    {{/if}}

                    <hr class="print-hidden" />

                    {{> "share-and-comment"}}

                </div>
            </div>

        </article>

        {{^has tag="#no-bottom-ad"}}
            {{> "bottom-ad"}}
        {{/has}}

    {{/post}}

    {{#get "posts"
        filter="primary_tag:{{post.primary_tag.slug}}+id:-{{post.id}}"
        include="authors,tags"
        order="published_at DESC"
        limit="3"
        as |recent|
    }}
        {{#if recent}}
            {{> "related-posts" posts=recent}}
        {{/if}}
    {{/get}}

</main>

{{> "footer"}}

{{#contentFor "styles"}}
    {{> "external/prism-css"}}
{{/contentFor}}

{{#contentFor "scripts"}}
    {{> "external/prism-js"}}
{{/contentFor}}

{{#contentFor "snippets"}}
    <template id="snippet__newsletter-signup__template">
        {{> "snippets/newsletter-signup"}}
    </template>
    <template id="snippet__post-box-ad__template">
        {{> "snippets/post-box-ad"}}
    </template>
    <template id="snippet__post-breakout-ad__template">
        {{> "snippets/post-breakout-ad"}}
    </template>
{{/contentFor}}
