{{!< default}}

{{#post}}
    <main class="site__content">
        <article class="article">

            <header
                class="
                    section
                    section--dense
                    {{#has tag="#cover"}}
                        background-dark
                        cover
                        cover--full-page
                        {{#has tag="#cover-precomposed"}}cover--precomposed{{/has}}
                        {{#has tag="#cover-object-light"}}
                            cover--object
                            cover--object--light
                        {{/has}}
                        {{#has tag="#cover-object-dark"}}
                            cover--object
                            cover--object--dark
                        {{/has}}
                    {{else}}
                        background-alternate
                    {{/has}}
                "
            >
                <div class="{{#has tag="#cover"}}cover__text{{/has}}">
                    <div class="container {{^has tag="#cover"}}container--article{{/has}}">

                        <div class="article__meta">
                            <time class="article__meta__date" datetime="{{date format="YYYY-MM-DD"}}">
                                {{date format="D. MMMM YYYY"}}
                            </time>
                            —
                            {{tags from=2}}
                            —
                            {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
                        </div>

                        <h1 class="article__title js-nbsp">{{title}}</h1>
                        <h2 class="article__summary js-nbsp">{{excerpt}}</h2>

                        <div class="article__author">
                            {{#has author="count:>1"}}
                                {{> "byline-multiple"}}
                            {{else}}
                                {{> "byline-single"}}
                            {{/has}}
                        </div>

                    </div>
                </div>

                {{#has tag="#cover"}}
                    {{#if feature_image}}
                        <figure class="cover__canvas">
                            <img
                                src="{{img_url feature_image size="xl"}}"
                                srcset="
                                    {{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 600w,
                                    {{img_url feature_image size="l"}} 1000w,
                                    {{img_url feature_image size="xl"}} 2000w,
                                    {{img_url feature_image size="xxl"}} 4000w
                                "
                                sizes="100vw"
                                class="cover__image"
                                alt="{{title}}"
                            />
                        </figure>
                    {{/if}}
                {{/has}}

            </header>

            <section class="section section--dense">
                <div class="container container--article">

                    <div class="editor js-nbsp js-external-links js-heading-anchors">
                        {{content}}
                    </div>

                    <hr />

                    <div class="share">
                        <span class="icon icon--in-text spacing-right-1">
                            {{> "icons/twitter"}}
                        </span>
                        <span class="icon icon--in-text spacing-right-2">
                            {{> "icons/facebook"}}
                        </span>
                        Líbí se vám článek? Sdílejte ho na
                        <a
                            href="https://twitter.com/intent/tweet?text={{title}}&url={{url absolute="true"}}&via=FrontendGarden"
                            target="_blank"
                            rel="noopener"
                            data-track="share"
                            data-method="Twitter"
                        >Twitteru</a>
                        nebo
                        <a
                            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
                            target="_blank"
                            rel="noopener"
                            data-track="share"
                            data-method="Facebook"
                        >Facebooku</a>.
                    </div>

                </div>
            </section>
            <section class="section section--dense">
                <div class="container container--article">

                    <h2>
                        Komentáře
                        <span class="badge">
                            <span class="fb-comments-count" data-href="{{url absolute="true"}}">0</span>
                        </span>
                    </h2>
                    <div class="comments">
                        <div class="fb-comments" data-href="{{url absolute="true"}}" data-numposts="5"></div>
                    </div>

                </div>
            </section>

        </article>

        {{#get "posts"
            include="authors,tags"
            filter="primary_tag:{{primary_tag.slug}}+id:-{{id}}"
            limit="3"
            as |recent|
        }}
            {{#if recent}}
                {{> "related-posts" posts=recent}}
            {{/if}}
        {{/get}}

    </main>
{{/post}}

{{!-- Facebook SDK for comments --}}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v3.3"></script>
