{{!< default}}

<!--<header>
    {{> "site-nav"}}
</header>-->

<div class="kg-width-wide"></div>

{{#post}}

    <main>
        <article class="article {{#unless feature_image}}article--no-image{{/unless}}">

            <header class="article__header">
                <div class="container container--article">

                    <section class="article__meta">
                        <time class="article__meta__date" datetime="{{date format="YYYY-MM-DD"}}">
                            {{date format="D MMMM YYYY"}}
                        </time>
                        {{#primary_tag}}
                            <span class="article__meta__divider">—</span>
                            <a href="{{url}}" class="article__meta__link">{{name}}</a>
                        {{/primary_tag}}
                    </section>

                    <h1 class="article__title">{{title}}</h1>
                    <h2 class="article__summary">{{excerpt}}</h2>

                    {{#has author="count:>1"}}
                        {{> "byline-multiple"}}
                    {{else}}
                        {{> "byline-single"}}
                    {{/has}}

                    {{#if feature_image}}
                        <figure class="article__featured-image">
                            <img
                                src="{{img_url feature_image size="xl"}}"
                                srcset="
                                    {{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 600w,
                                    {{img_url feature_image size="l"}} 1000w,
                                    {{img_url feature_image size="xl"}} 2000w
                                "
                                sizes="
                                    (max-width: 800px) 400px,
                                    (max-width: 1170px) 700px,
                                    1400px
                                "
                                class="article__featured-image__image"
                                alt="{{title}}"
                            />
                        </figure>
                    {{/if}}

                </div>
            </header>
            <section class="article__content">
                <div class="container container--article">

                    {{content}}

                </div>
            </section>

            {{!-- {{#if @labs.subscribers}}
                <section class="subscribe-form">
                    <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
                    <p>Get the latest posts delivered right to your inbox</p>
                    {{subscribe_form placeholder="youremail@example.com"}}
                </section>
            {{/if}} --}}

        </article>
    </main>

    {{!-- Links to Previous/Next posts --}}
    {{!-- <aside class="read-next outer">
        <div class="inner">
            <div class="read-next-feed">
                {{#if primary_tag}}
                    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit="3" as |related_posts|}}
                        {{#if related_posts}}
                            <article class="read-next-card"
                                {{#if ../primary_tag.feature_image}}
                                     style="background-image: url({{img_url ../primary_tag.feature_image size="m"}})"
                                {{else}}
                                    {{#if @site.cover_image}}
                                     style="background-image: url({{img_url @site.cover_image size="m"}})"{{/if}}
                                {{/if}}
                            >
                                <header class="read-next-card-header">
                                    <small class="read-next-card-header-sitetitle">&mdash; {{@site.title}} &mdash;</small>
                                    {{#../primary_tag}}
                                        <h3 class="read-next-card-header-title"><a href="{{url}}">{{name}}</a></h3>
                                    {{/../primary_tag}}
                                </header>
                                <div class="read-next-divider">{{> "icons/infinity"}}</div>
                                <div class="read-next-card-content">
                                    <ul>
                                        {{#foreach related_posts}}
                                            <li><a href="{{url}}">{{title}}</a></li>
                                        {{/foreach}}
                                    </ul>
                                </div>
                                <footer class="read-next-card-footer">
                                    <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}} →</a>
                                </footer>
                            </article>
                        {{/if}}
                    {{/get}}
                {{/if}}

                {{#next_post}}
                    {{> "post-card"}}
                {{/next_post}}

                {{#prev_post}}
                    {{> "post-card"}}
                {{/prev_post}}

            </div>
        </div>
    </aside>--}}
{{/post}}
